<%= form_for(@food_history) do |f| %>
  <% if @food_history.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@food_history.errors.count, "error") %> prohibited this food_history from being saved:</h2>

      <ul>
      <% @food_history.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="col-xs-8 col-xs-offset-2 food_histories__area">

    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name, id: "food_menu_field" %>
    </div>
    <div class="field">
      <%= f.label :calorie %><br>
      <%= f.number_field :calorie, id: "food_calorie" %>
    </div>
    <div class="field">
      <!--<%= f.label :ate_at %><br>-->
      <%= f.datetime_field :ate_at %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  
  </div>
</div>
<% end %>


