<%= form_for(@food_history) do |f| %>
  <% if @food_history.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@food_history.errors.count, "error") %> prohibited this food_history from being saved:</h2>

      <ul>
      <% @food_history.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="col-xs-10 col-xs-offset-1 food_histories__area">

    <div class="field">
      <!--<%= f.label :search_name_for %><br>-->
      <%= f.text_field :name, id: "food_menu_field", :placeholder => "食べたものを入力 :" %>
      <input type="text" name="dummy" style="display:none;">
    </div>
    <div class="field">
      <!--<%= f.label :calorie %><br>-->
      <%= f.number_field :calorie, id: "food_calorie", :placeholder => "カロリー :"%>
    </div>
    <div class="field">
      <!--<%= f.label :ate_at %><br>-->
      <%= f.datetime_field :ate_at %>
    </div>
    <div class="actions">
      <%= f.submit id: "food_input"%>
    </div>
  
  </div>
</div>
<% end %>


<script>
  // $(function(){
  //   if ( $('#food_menu_field,#food_calorie').val().length == 0 ) {
  //     $('#food_input').attr('disabled', 'disabled');
  //   }
  //   $('#food_menu_field,#food_calorie').bind('keydown keyup keypress change', function() {
  //     if ( $(this).val().length > 0 ) {
  //       $('#food_input').removeAttr('disabled');
  //     } else {
  //       $('#food_input').attr('disabled', 'disabled');
  //     }
  //   });
  // });
</script>