<p id="notice"><%= notice %></p>
<div class="fo-panel__bg">
  <div class="fo-panel panel memo_bg">
    <span class="masking-tape blue"></span>
    <div class="panel-heading">
      <h3 class="panel-title">
        <span class="under"><%= @food_history.name %></span>
      </h3>
    </div>
    <div class="panel-body">
      <span class="fo-panel__info">カロリー：<%= @food_history.calorie %>kcal</span>
      <span class="fo-panel__info">食べた日：<%= l(@food_history.ate_at, format: :long) %></span>
    </div>
    <div class="panel-footer">
      <div class="row btn-list">
        <div class="col-xs-6">
          <%= link_to 'Edit', edit_food_history_path(@food_history), class: 'btn btn-block btn-brown' %>
        </div>
        <div class="col-xs-6">
          <%= link_to 'Back', food_histories_path, class: 'btn btn-block btn-brown'  %>
        </div>
      </div>
    </div>
  </div>
</div>

