<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @food_history.title %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @food_history.detail %>
</p>

<%= link_to 'Edit', edit_food_history_path(@food_history) %> |
<%= link_to 'Back', food_histories_path %>
