<h1 class="user_prof text-white"><%= t '.title' %></h1>
<table class="table">
  <tbody>
    <tr>
        <th><%= User.human_attribute_name('name') %></th>
        <td><%= @user.name %></td>
    </tr>
    <tr>
        <th><%= User.human_attribute_name('email') %></th>
        <td><%= @user.email %></td>
    </tr>
    <tr>
        <th><%= User.human_attribute_name('birthday') %></th>
        <% if @user.birthday == nil %>
          <td>未設定</td>
        <% else %> 
          <td><%= @user.birthday.strftime("%Y年%m月%d日") %></td>
        <% end %>
    </tr>
    <tr>
        <th><%= User.human_attribute_name('gender') %></th>
        <% if @user.gender == nil %>
          <td>未設定</td>
        <% else %>
          <td><%= @user.gender.text %></td>
        <% end %>
    </tr>
    <tr>
        <th><%= User.human_attribute_name('weight') %></th>
        <% if @user.weight == nil %>
          <td>未設定</td>
        <% else %>
          <td><%= @user.weight %>kg</td>
        <% end %>
    </tr>
    <tr>
        <th><%= User.human_attribute_name('height') %></th>
        <% if @user.height == nil %>
          <td>未設定</td>
        <% else %>
          <td><%= @user.height %>cm</td>
        <% end %>
    </tr>
    <tr>
        <th><%= User.human_attribute_name('calorie_of_day') %></th>
        <% if @user.height == nil %>
          <td>未設定</td>
        <% else %>
          <td><%= @user.calorie_of_day %>kcal</td>
        <% end %>
    </tr>
  </tbody>
</table>
<div class="clearfixr">
    <div class="col-xs-10 col-xs-offset-1"><%= link_to "設定", edit_user_registration_path, class:"btn btn-block" %></div>
</div>

