<% provide :title, "食べもの一覧" %><% provide :test do %>
<div><span>hoge</span></div>
<% end %>

<h1><%= t '.title' %></h1>

<%= form_tag(foods_path, method: "get") do %>
  <%= label_tag(:name, "Search name for:") %>
  <%= text_field_tag(:name, @search_params[:name]) %>
  <%= label_tag(:calorie_from, "calorie from:") %>
  <%= number_field_tag(:calorie_from, @search_params[:calorie_from]) %>
  <%= label_tag(:calorie_to, "calorie to:") %>
  <%= number_field_tag(:calorie_to, @search_params[:calorie_to]) %>
  <%= submit_tag("Search") %>
<% end %>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th>食べたもの</th>
      <th>カロリー数</th>
    </tr>
  </thead>
  <tbody>
    <% @foods.each do |food| %>
      <tr>
        <th scope="row"><%= food.name %></th>
        <td><%= food.calorie %>kcal</td>
        <td><%= link_to 'Show', food %></td>
        <td><%= link_to 'Edit', edit_food_path(food) %></td>
        <td><%= link_to 'Destroy', food, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<%= link_to 'New Food', new_food_path %>
